/****** BODY  *******/
body {
  background-color: black;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

/********** NAVBAR ***********/
.navbar {
  width: 75vh;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #333;
  color: white;
  border: white solid 3px;
  float: right;
  margin-top: 1vh;
  margin-right: 20vh;
  display: flex;
}

.navbar-menu {
  display: flex;
  gap: 1em;
}

.navbar-menu a {
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
}

.navbar-menu a:hover {
  background-color: #555;
  border-radius: 15px;
}

.burger {
  display: none;
}

.navbar-menu button {
  background: none;
  border: none;
  font-family: inherit;
}

/* ETAT PAR DEFAUT */
label #burger {
  width: 50px;
  height: 50px;
  position: relative;
  background: none;
  border: none;
}

label #burger div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
  height: 10%;
  border-radius: 20px;
  transition: top 0.5s 0.5s, width 0.5s 0.75s, transform 0.5s;
}

#case_secrete:checked+label #burger div {
  transition: top 0.5s 0.25s, width 0.5s, transform 0.5s 0.75s;
}

label #burger div:first-child {
  top: 30%;
}

label #burger div:last-child {
  top: 70%;
}

/********* ETAT 2 ********/
#case_secrete:checked+label #burger div:first-child,
#case_secrete:checked+label #burger div:last-child {
  top: 50%;
}

#case_secrete:checked+label #burger div:nth-child(2) {
  width: 40%;
  width: 0;
}

#case_secrete:checked+label #burger div:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

#case_secrete:checked+label #burger div:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#case_secrete {
  display: none;
}

label {
  display: block;
  width: fit-content;
}

/* Styles responsive */
@media (max-width: 768px) {
  .navbar {
    width: calc(80% - 20px);
    /* Largeur réduite avec une marge de chaque côté de 10px */
    margin: 10px;
    /* Marge de chaque côté de 10px */
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 25vh;
    position: absolute;
    z-index: 1000;
    top: 100px;
    left: 0;
    background-color: #333;
    padding: 1em 0;
  }

  .navbar-menu.active {
    display: flex;
  }

  .burger {
    display: block;
  }
}

/****** H1  *******/
.css-typing {
  margin-top: 1vw;
  margin-left: 5vw;
  width: 25em;
}

.css-typing h1:first-child {
  color: white;
  border-right: .15em solid white;
  white-space: nowrap;
  overflow: hidden;
  width: 13em;
  opacity: 0;
  -webkit-animation: type3 3s steps(20, end), blink .3s step-end infinite alternate;
  animation: type3 3s steps(20, end), blink .3s step-end infinite alternate;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h1:last-child {
  color: white;
  border-right: .15em solid white;
  white-space: nowrap;
  overflow: hidden;
  width: 6em;
  opacity: 0;
  -webkit-animation: type4 2s steps(20, end), blink .2s step-end infinite alternate;
  animation: type4 3s steps(20, end), blink .3s step-end infinite alternate;
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  margin: auto;
}

@keyframes type3 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type4 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type4 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: -10vh;
}

.square {
  width: 60vh;
  height: 60vh;
  border-radius: 15px;
  border: 5px white solid;
  background-color: #525050;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  margin: 0;
  margin-top: -5vh;
}

.square p {
  text-align: center;
  font-size: 1.5em;
  margin-top: 5vh;
}

.line {
  width: 20vh;
  height: 1vh;
  background-color: white;
}

.circle {
  width: 50vh;
  height: 50vh;
  background-color: #525050;
  border-radius: 50%;
  border: 5px white solid;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .navbar {
    float: none;
    margin: 0;
    margin: auto;
    margin-top: 5vh;
  }

  .css-typing {
    margin: auto;
    margin-top: 2vh;
  }

  .container {
    flex-direction: column;
    gap: 0;
    height: 1300px;
  }

  .square {
    width: 55vh;
    height: 70vh;
    margin: auto;
    margin-top: 12vh;
    margin-bottom: 0;

  }

  .square h2 {
    margin-top: -1vh;
    margin-bottom: -1vh;
  }

  .line {
    width: 1vh;
    height: 15vh;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
  }

  .circle {
    margin: auto;
    margin-top: 0;

    width: 50vh;
    height: 50vh;
  }
}

@media (max-width: 550px) {
  .container {
    width: calc(90% - 30px);
    /* Largeur réduite avec une marge de chaque côté de 10px */

    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: -5vh;
  }

  .css-typing h1 {
    font-size: 1.7em;
    margin: auto;
  }

  .square {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 0;
  }

  .square h2 {
    margin-top: 1%;
    font-size: 2em;
    padding: 15px;
  }

  .line {
    width: 1vh;
    height: 10vh;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
  }

  .circle {

    margin: auto;
    margin-top: 0;
    width: 100%;
    height: 25%;
  }
}


/***************COMPETENCES***********************/



.competences {
  width: 100%;
  height: 165vh;
  max-width: 1200px;
  /* Largeur maximale pour les grands écrans */
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  /* border: red solid; */
}

.title-container {
  position: relative;
  text-align: center;
  margin-bottom: 20px;

}

.title-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
  /* Couleur de la ligne */
  transform: translateY(-50%);
}

.title-container h2 {
  position: relative;
  display: inline-block;
  color: white;
  background-color: black;
  padding: 0 10px;
  font-size: 2em;
}


@media (max-width: 768px) {
  .competences {
    padding: 10px;
  }

  .title-container h2 {
    font-size: 1.5em;
  }
}

.front-end {
  width: 85%;
  height: 30vh;
  border-radius: 15px;
  border: 5px white solid;
  margin: auto;
  background-color: #525050;
}

.front-end h2 {
  text-align: center;
}

.icon-front-end {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-left: 5vh;
  margin-right: 5vh;
  height: 70%;
  height: 60%;
}

.icon-front-end img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;

}

.pourcent-front-end {
  display: flex;
  justify-content: space-between;
}

.pourcent-front-end p {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 7px;
}

.pourcent-front-end p:first-child {
  margin-left: 12vh;
}

.pourcent-front-end p:last-child {
  margin-right: 11vh;
}

.line_2 {
  width: 0.7vh;
  height: 20vh;
  background-color: white;
  margin: auto;
  margin-top: -5.2px;
}

.back-end {
  width: 85%;
  height: 30vh;
  border-radius: 15px;
  border: 5px white solid;
  margin: auto;
  background-color: #525050;
}

.back-end .icon-front-end img {
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 100%;
  height: 100%;
}

.back-end .pourcent-front-end {
  margin-left: 13%;
  margin-right: 11%;
}

.logiciel {
  width: 100%;
  height: 30vh;
  border-radius: 15px;
  border: 5px white solid;
  margin: auto;
  background-color: #525050;
}


.pourcent-logiciel-end p:first-child {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 7px;
}

.projet {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  /* Largeur maximale pour les grands écrans */
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  border: red solid;
}

.icon-front-end  p {
  display: none;
}

@media (max-width: 650px) {
  .competences {
    width: calc(90% - 20px);
    /* Largeur réduite avec une marge de chaque côté de 10px */
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 230vh;
    border: red solid;
  }

  .front-end {
    margin-left: -0.9vh;
    height: 70%;
    width: 80vw;
    font-size: 1.8em;

  }

  .icon-front-end {
    flex-direction: column;
    margin: 0;
    margin: auto;
  }

  .icon-front-end img:nth-child(2),
  .icon-front-end img:last-child {
    margin-top: 7vh;
  }

  .icon-front-end img {
    justify-content: space-between;
    max-width: 100%;
    width: 50%;
    height: 50%;
    margin: auto;
  }

  .pourcent-front-end {
    display: none;
  }

  .icon-front-end  p {
    display: block;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-weight: bold;
  }

  .line_2 {
    margin: auto;
    margin-top: 36.2vh;
  }
}

@media (max-width: 650px) {

  .front-end {
    height: 78%;
    width: 80vw;
    font-size: 1.8em;

  }
}

@media (max-width: 500px) {

  .front-end {
    height: 65%;
    width: 80vw;
    font-size: 1.8em;

  }

  .line_2 {
    margin: auto;
    margin-top: 27.2vh;
  }
}

@media (max-width: 400px) {

  .front-end {
    height: 60%;
    width: 80vw;
    font-size: 1.8em;

  }

  .line_2 {
    margin: auto;
    margin-top: 24.2vh;
  }
}

@media (max-width: 350px) {

  .front-end {
    height: 58%;
    width: 80vw;
    font-size: 1.8em;

  }

  .line_2 {
    margin: auto;
    margin-top: 17vh;
  }
}