/****** BODY  *******/
body {
  background-color: black;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

/********** NAVBAR ***********/
.navbar {
  width: 65vh;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #333;
  color: white;
  border: white solid 3px;
  float: right;
  margin-top: 1vh;
  margin-right: 20vh;
  display: flex;
}

.navbar-menu {
  display: flex;
  gap: 1em;
}

.navbar-menu a {
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
}

.navbar-menu a:hover {
  background-color: #555;
  border-radius: 15px;
}

.burger {
  display: none;
}

.navbar-menu button {
  background: none;
  border: none;
  font-family: inherit;
}

/* ETAT PAR DEFAUT */
label #burger {
  width: 50px;
  height: 50px;
  position: relative;
  background: none;
  border: none;
}

label #burger div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
  height: 10%;
  border-radius: 20px;
  transition: top 0.5s 0.5s, width 0.5s 0.75s, transform 0.5s;
}

#case_secrete:checked+label #burger div {
  transition: top 0.5s 0.25s, width 0.5s, transform 0.5s 0.75s;
}

label #burger div:first-child {
  top: 30%;
}

label #burger div:last-child {
  top: 70%;
}

/********* ETAT 2 ********/
#case_secrete:checked+label #burger div:first-child,
#case_secrete:checked+label #burger div:last-child {
  top: 50%;
}

#case_secrete:checked+label #burger div:nth-child(2) {
  width: 40%;
  width: 0;
}

#case_secrete:checked+label #burger div:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

#case_secrete:checked+label #burger div:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#case_secrete {
  display: none;
}

label {
  display: block;
  width: fit-content;
}

/* Styles responsive */
@media (max-width: 768px) {
  .navbar {
    width: calc(80% - 20px);
    /* Largeur réduite avec une marge de chaque côté de 10px */
    margin: 10px;
    /* Marge de chaque côté de 10px */
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 25vh;
    position: absolute;
    z-index: 1000;
    top: 100px;
    left: 0;
    background-color: #333;
    padding: 1em 0;
  }

  .navbar-menu.active {
    display: flex;
  }

  .burger {
    display: block;
  }
}

/****** H1  *******/
.css-typing {
  margin-top: 1vw;
  margin-left: 5vw;
  width: 25em;
}

.css-typing h1:first-child {
  color: white;
  border-right: .15em solid white;
  white-space: nowrap;
  overflow: hidden;
  width: 13em;
  opacity: 0;
  -webkit-animation: type3 3s steps(20, end), blink .3s step-end infinite alternate;
  animation: type3 3s steps(20, end), blink .3s step-end infinite alternate;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h1:last-child {
  color: white;
  border-right: .15em solid white;
  white-space: nowrap;
  overflow: hidden;
  width: 6em;
  opacity: 0;
  -webkit-animation: type4 2s steps(20, end), blink .2s step-end infinite alternate;
  animation: type4 3s steps(20, end), blink .3s step-end infinite alternate;
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  margin: auto;
}

@keyframes type3 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type4 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type4 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: -10vh;
}

.square {
  width: 60vh;
  /* height: 60vh; */
  border-radius: 15px;
  border: 5px white solid;
  background-color: #525050;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  margin: 0;
  padding-top: 25px;
}

.square p {
  text-align: center;
  font-size: 1.5em;
  margin-top: 5vh;
  padding: 10px;
}

.line {
  width: 20vh;
  height: 1vh;
  background-color: white;
}

.circle {
  width: 50vh;
  height: 50vh;

}


.circle img {
  max-width: 100%;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .navbar {
    float: none;
    margin: 0;
    margin: auto;
    margin-top: 5vh;
  }

  .css-typing {
    margin: auto;
    margin-top: 2vh;
  }

  .container {
    flex-direction: column;
    gap: 0;
    height: 1300px;
  }

  .square {
    width: 70vw;
    height: 40%;
    margin: auto;
    margin-top: 12vh;
    margin-bottom: 0;

  }

  .square h2 {
    margin-top: -1vh;
    margin-bottom: -1vh;
  }

  .line {
    width: 1vh;
    height: 15vh;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
  }

  .circle {
    margin: auto;
    margin-top: 0;

    width: 50vh;
    height: 50vh;
  }
}

@media (max-width: 780px) {
  .square {
    width: 70vw;
    height: 80vw;
  }
}

@media (max-width: 650px) {
  .square {
    width: 90vw;
    height: 100vw;
  }
}

@media (max-width: 550px) {
  .container {
    width: calc(90% - 30px);
    /* Largeur réduite avec une marge de chaque côté de 10px */

    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: -5vh;
  }

  .css-typing h1 {
    font-size: 1.7em;
    margin: auto;
  }

  .square {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 0;
  }

  .square h2 {
    margin-top: 1%;
    font-size: 2em;
    padding: 15px;
  }

  .line {
    width: 1vh;
    height: 10vh;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
  }

  .circle {

    margin: auto;
    margin-top: 0;
    width: 100%;
    height: 25%;
  }
}


/***************COMPETENCES***********************/



.competences {
  width: 100%;
  height: auto;
  max-width: 1200px;
  /* Largeur maximale pour les grands écrans */
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  /* border: red solid; */
}

.title-container {
  position: relative;
  text-align: center;
  margin-bottom: 20px;

}

.title-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
  /* Couleur de la ligne */
  transform: translateY(-50%);
}

.title-container h2 {
  position: relative;
  display: inline-block;
  color: white;
  background-color: black;
  padding: 0 10px;
  font-size: 2em;
}


@media (max-width: 768px) {
  .competences {
    padding: 10px;
  }

  .title-container h2 {
    font-size: 1.5em;
  }
}

.front-end {
  width: 85%;
  height: 35vh;
  border-radius: 15px;
  border: 5px white solid;
  margin: auto;
  background-color: #525050;
}

.front-end h2 {
  text-align: center;
}

.icon-front-end {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-left: 5vh;
  margin-right: 5vh;
  height: 70%;
  height: 60%;
}

.icon-front-end img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;

}

.front-end .icon-front-end img {
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 100%;
  height: 100%;
}

.pourcent-front-end {
  display: flex;
  justify-content: space-between;
}

.pourcent-front-end p {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 7px;
}

.pourcent-front-end p:first-child {
  margin-left: 18vh;
}

.pourcent-front-end p:last-child {
  margin-right: 16vh;
}

.line_2 {
  width: 0.7vh;
  height: 20vh;
  background-color: white;
  margin: auto;
  margin-top: -5.2px;
}

.back-end {
  width: 85%;
  height: 35vh;
  border-radius: 15px;
  border: 5px white solid;
  margin: auto;
  background-color: #525050;
}

.back-end h2 {
  text-align: center;
}

.line_3 {
  width: 0.7vh;
  height: 20vh;
  background-color: white;
  margin: auto;
  margin-top: -5.2px;
}

.back-end .icon-front-end img {
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 100%;
  height: 100%;
}



.back-end .pourcent-front-end {
  margin-left: 10%;
  margin-right: 9%;
}

.logiciel {
  width: 90%;
  height: 35vh;
  border-radius: 15px;
  border: 5px white solid;
  margin: auto;
  background-color: #525050;
}

.logiciel h2 {
  text-align: center;
}


.pourcent-logiciel-end {
  display: flex;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 7px;
  justify-content: space-between;
  margin-top: -7px;
}

.pourcent-logiciel-end p:first-child {
  margin-left: 10%;
}

.pourcent-logiciel-end p:last-child {
  margin-right: 7%;
}



.icon-front-end p {
  display: none;
}

@media (max-width: 650px) {
  .competences {
    width: calc(85% - 10px);
    /* Largeur réduite avec une marge de chaque côté de 10px */
    flex-direction: column;
    align-items: center;
    margin: auto;
  
   
  }

  .front-end {
    margin-left: -0.9vh;
    height: 10%;
    width: 70vw;
    font-size: 1.8em;

  }

  .icon-front-end {
    flex-direction: column;
    margin: 0;
    margin: auto;
  }

  .icon-front-end img:nth-child(2),
  .icon-front-end img:last-child {
    margin-top: 7vh;
  }

  .icon-front-end img {
    justify-content: space-between;
    max-width: 100%;
    width: 50%;
    height: 50%;
    margin: auto;
  }

  .pourcent-front-end {
    display: none;
  }

  .pourcent-logiciel-end {
    display: none;
  }

  .icon-front-end p {
    display: block;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-weight: bold;
  }

  .front-end {
    height: 170vw;
    width: 80vw;
    font-size: 1.8em;

  }

  /* .line_2 {
    margin: auto;
    margin-top: 49vw;
  } */

  .back-end {
    height: 130vw;
    width: 80vw;
    font-size: 1.8em;
  }

  .back-end h2 {
    text-align: center;
  }


  .logiciel {
    height: 170vw;
    width: 80vw;
    font-size: 1.8em;
  }

  .logiciel h2 {
    text-align: center;
  }

}



@media (max-width: 600px) {

  .front-end {
    height: 180vw;
    font-size: 1.8em;

  }

}

@media (max-width: 550px) {
  .logiciel {
    height: 180vw;
  }
}

@media (max-width: 500px) {

  .front-end {
    height: 200vw;
    width: 80vw;
    font-size: 1.8em;

  }


  .back-end {
    height: 150vw;
  }

  .logiciel {
    height: 190vw;
  }

}


@media (max-width: 375px) {
  .front-end {
    height: 230vw;
    font-size: 1.8em;

  }

  .back-end {
    height: 160vw;
  }

  .logiciel {
    height: 210vw;
  }
}

@media (max-width: 350px) {

  

  .competences {
    margin-left: 15%;
  }

  .container {
    margin-left: 15%;
  }

  .navbar {
    margin-left: 15%;
  }
}

/********** PROJET **********/

.projet {
  width: 100%;
  height: auto;
  max-width: 1200px;
  /* Largeur maximale pour les grands écrans */
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  /* border: red solid; */
}

.carre-projet {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  flex-wrap: wrap;
  /* Ajoutez cette propriété pour permettre aux éléments de s'enrouler sur plusieurs lignes */
}

.carre-projet div:first-child,
.carre-projet div:nth-child(2),
.carre-projet div:last-child {
  border: white solid 5px;
  background-color: #525050;
  border-radius: 20px;
  height: 35vh;
  width: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  /* Ajoutez une marge en bas pour espacer les éléments enroulés */
}

.carre-projet div:first-child img:first-child {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 5vh;
}

.carre-projet div:first-child img:nth-child(2) {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 0vh;
}

.carre-projet div:first-child button,
.carre-projet div:nth-child(2) button,
.carre-projet div:nth-child(3) button:last-child {
  margin: 0;
  padding: 10px;
  margin: auto;
  color: white;
  margin-bottom: 2vh;
  font-size: 1.5em;
  border: none;
  background-color: black;
  border: white solid 1px;
  border-radius: 15px;
  width: 80%;
  cursor: pointer;
  font-family: inherit;
}

.carre-projet div:nth-child(3) img {
  width: 40%;
  margin: auto;
}

.carre-projet div:nth-child(3) p:first-child {
  margin: auto;
  font-size: 1.3em;
  margin-top: 5vh;
  margin-bottom: -1vh;
}

/* Media Queries */

@media (max-width: 1080px) {

  .carre-projet div:first-child,
  .carre-projet div:last-child,
  .carre-projet div:nth-child(2) {
    margin: auto;
    margin-bottom: 2vh;
  }
}

@media (max-width: 768px) {

  .carre-projet div:first-child,
  .carre-projet div:nth-child(2),
  .carre-projet div:last-child {
    width: 45%;
    height: 45vh;
  }


  .carre-projet div:first-child img:first-child,
  .carre-projet div:nth-child(3) img {
    width: 80%;
  }

  .carre-projet div:nth-child(3) img {
    width: 60%;
  }

  .carre-projet div:first-child button,
  .carre-projet div:nth-child(2) button,
  .carre-projet div:nth-child(3) button:last-child {
    width: 60%;
    font-size: 1.2em;
  }
}

@media (max-width: 550px) {

  .carre-projet div:first-child,
  .carre-projet div:nth-child(2),
  .carre-projet div:last-child {
    width: 100%;
    height: 50vh;
  }


  .carre-projet div:nth-child(3) img {
    width: 60%;
  }

  .carre-projet div:first-child button,
  .carre-projet div:nth-child(2) button,
  .carre-projet div:nth-child(3) button:last-child {
    width: 60%;
    font-size: 1em;
  }
}

@media (max-width: 550px) {
  .carre-projet div:first-child,
  .carre-projet div:nth-child(2),
  .carre-projet div:last-child {
    width: 90%;
  }

  .carre-projet div:first-child,
  .carre-projet div:nth-child(2),
  .carre-projet div:last-child {
    height: 70vw;
  }

  .carre-projet div:nth-child(3) img {
    width: 40%;
  }
}

@media (max-width: 400px) {
  .carre-projet div:nth-child(3) img {
    width: 30%;
  }
}

.contact {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
}

.contact h3 {
  color: white;
  font-size: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh auto;
}

input[type="text"],
textarea,
input[type="email"] {
  text-align: center;
  display: block;
  margin: 10px auto;
  font-size: 1.5em;
  font-family: inherit;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  height: 40px;
  border: none;
}

textarea {
  width: 80%;
  max-width: 600px;
  height: 300px;
}

.contact button {
  display: flex;
  margin: 20px auto;
  font-family: inherit;
  font-size: 1.5em;
  width: 150px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  background-color: black;
  border: white solid 2px;
}

/* Media Queries */
@media (max-width: 768px) {
  .contact h3 {
    font-size: 1.5em;
  }

  input[type="text"],
  textarea,
  input[type="email"] {
    font-size: 1.2em;
    width: 90%;
    max-width: 300px;
    height: 40px;
  }

  textarea {
    width: 90%;
    max-width: 300px;
    height: 150px;
  }

  .contact button {
    font-size: 1.2em;
    width: 120px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .contact h3 {
    font-size: 1.2em;
  }

  input[type="text"],
  textarea,
  input[type="email"] {
    font-size: 1em;
    width: 95%;
    max-width: 250px;
    height: 35px;
  }

  textarea {
    width: 95%;
    max-width: 250px;
    height: 120px;
  }

  .contact button {
    font-size: 1em;
    width: 100px;
    height: 35px;
  }
}


/* Style pour le pop-up */
.popup {
  display: none;
  /* Masque le pop-up par défaut */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}